{% extends "bootstrap/base.html"%}
{% block title %}Home{% endblock %}

{% block navbar %}  

<nav class="navbar navbar-inverse">
    <a class="navbar-brand" href="/">Title</a>
    <ul class="nav navbar-nav">
        <li class="active">
            <a href="/">Home</a>
        </li>
        <li>
            <a href="/post/1">Link</a>
        </li>
    </ul>

    <ul class="nav navbar-nav navbar-right">
        {% if current_user.is_authenticated%}
        <li><a href="{{ url_for('auth.logout')}}">Sign Out &nbsp;&nbsp; </a></li>
        {% else %}
        <li><a href="{{url_for('auth.login')}}">Sign In  &nbsp;&nbsp; </a></li>
        {% endif %}
    </ul>
</nav>



{%endblock%}


{% block content%}

<div class="container">
    {% block page_content%}
    {% endblock%}
</div>


{% endblock%}