<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title%}Blog{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css')}}">
</head>
<body>
    <div class="container">
        <div class="jumbotron">
            <h1><a href="{{url_for('home')}}">My Blog</a></h1>
            <p>Welcome to the blog</p>
        </div>
        {% block body %}
        {% endblock %}
    </div>
    <script src="{{url_for('static',filename = 'js/jquery.min.js')}}"></script>    
    <script src="{{url_for('static',filename = 'js/bootstrap.min.js')}}"></script>
    
</body>
</html>

{% macro render_pagination(pagination,endpoint) %}
<nav>
    <ul class="pagination">
        <li>
            <a href="{{url_for('home',page = pagination.prev().page)}}" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
        </li>
        {% for page in pagination.iter_pages() %}
            {% if page %}
                {% if page !=pagination.page %}
                <li>
                    <a href="{{ url_for(endpoint,page=page)}}">
                        {{page}}
                    </a>
                </li>
                {% else %}
                <li><a href="">{{ page }}</a></li>
                {% endif %}
            {% endif %}
        {% endfor %}

        <li>
            <a href="{{url_for('home',page = pagination.next().page)}}" aria-label="Next"></a>
        </li>


    </ul>
</nav>
{% endmacro %}